<div class="services-wrapper">
    <div class="container">
        <div class="services">
            <div class="sevices__box">
                <div class="services__box--number">1</div>
                <div class="services__box--text-content">
                    <h2 class="services__box--text-content-title">Actionable insights</h2>
                    <p class="services__box--text-content-desc">Optimize your products, improve customer satisfaction and stay ahead of the competition with our product data analytics.</p>
                </div>
            </div>
            <div class="sevices__box">
                <div class="services__box--number">2</div>
                <div class="services__box--text-content">
                    <h2 class="services__box--text-content-title">Data-driven decisions</h2>
                    <p class="services__box--text-content-desc">Make data-driven decisions with our product data analytics. Our AI-generated reports help you unlock insights hidden in your product data.</p>
                </div>
            </div>
            <div class="sevices__box">
                <div class="services__box--number">3</div>
                <div class="services__box--text-content">
                    <h2 class="services__box--text-content-title">Always affordable</h2>
                    <p class="services__box--text-content-desc">Always affordable pricing that scales with your business. Get top-quality product data analytics services without hidden costs or unexpected fees.</p>
                </div>
            </div>
        </div>
    </div>
</div>